<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Home | Let Hands Speak</title>
  <link href="assets/css/style.css" rel="stylesheet" type="text/css" />

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />
</head>

<body>
  <div class="slider">
    <div class="content">
      <!-- Navigation Bar-->
      <div class="navbar">
        <a href="{{ url_for('index') }} " class="logo-text text-warning"><img
            src="{{ url_for('static',filename='img/logo.png') }}" alt="logo" class="logo" />Let Hands Speak</a>
        <ul>
          <li>
            <a href="{{ url_for('index') }}" class="text-warning">Home</a>
          </li>
          <li>
            <a href="{{ url_for('about') }}" class="text-warning">About</a>
          </li>
          <li>
            <a href="{{ url_for('contact') }}" class="text-warning">Contact us</a>
          </li>
        </ul>
      </div>

      <!-- Conatent -->
      <div class="containers">
        <h1>
          We are always here to help you <br />Because you are Special one.
        </h1>
        <p>Signed Language to Text convertor</p>
        <br />
        <a href="{{ url_for('main') }}" class="btn btn-warning">Get Started</a>
      </div>

      <!-- Footer-->
      <footer>
        <ul>
          <li>
            <a href="" target="_blank"><img src="{{ url_for('static',filename='img/icon-fb.png') }}" alt="logo" /></a>
          </li>
          <li>
            <a href="" target="_blank"><img src="{{ url_for('static',filename='img/icon-insta.png') }}"
                alt="logo" /></a>
          </li>
          <li>
            <a href="" target="_blank"><img src="{{ url_for('static',filename='img/icon-yt.png') }}" alt="logo" /></a>
          </li>
          <li>
            <a href="" target="_blank"><img src="{{ url_for('static',filename='img/icon-tweet.png') }}"
                alt="logo" /></a>
          </li>
        </ul>
      </footer>
      <div class="video-box">
        <video controls autoplay muted width="380">
          <source src="{{ url_for('static',filename='img/video1.mp4') }}" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</body>

</html>