<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Recognition | Let Hands Speak</title>

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />
  </head>

  <body>
        <!-- Conatent -->
        <div>                
          <img  src="{{ url_for('video') }}">
          </div>
  </body>
</html>